body {
  margin: 2% 10%;
}

img {
  width: 200px;
  clear: left;
  float: left;
}

.description {
  margin: 60px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  display: flex;
}

.projects {
  clear: left;
}
