body {
    font-family: Arial;
    padding: 20px 25px 80px 25px;
    background-color: #788AAB;
    width:75%;
    margin: auto;
 }

h1 {
    font-size: 38px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

#overview {
    padding-top: 10px;
    margin: 0px 20px;
    width: 80%;
}


.position {
    display: inline-block;
}

.contact {
    line-height: .9em;
    font-size: 18px;
    font-weight: bold;
}

img {
    width: 200px;
    float: right;
    margin-top: 2px;
    margin-right: 10%;
    border-radius: 20px;
}

.highlights {
    font-style: italic;
    font-size: 24px;
}

.company {
    margin: auto;
    padding-top: 10px;
    border-top: 1px solid black;
}

.date {
    float: right;
    text-align: right;
    display: block;
    width: 50%;
}

.experience {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 10px 5px;
    text-align: center;
}
