* {
  font-family: Arial;
}

img {
  float: right;
  width: 200px;
  display: inline-block;
}

body{
  padding: 5px 15px;
  border: 2px solid black;
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
  margin: center;
  padding-bottom: 20px;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
  border-color: black;
  font-size: 46px;
}

#position {
  float:left;
  text-align: left;
  display: inline-block;
}

.contact {
  list-style: none;
  display: inline-block;  
}

.date {
  float: right;
  text-align: right;
  display: inline-block;
}

#experience {
  font-size: 32px;
  font-weight: bold;
  padding-top: 20px;
  border-width: 3px 0px 0px 0px;
  border-style: solid;
  border-color: black;
}

.p {
  padding-bottom: 20px;
}
