img {
    width: 200px;
}

body {
    background-color: #BCD7E4;
    font-family: 'Varela', sans-serif;
}

.linkedin {
    width:100px;
    margin-left: -25%;
}

.title {
    margin-top: 0%;
}

.profilePic {
    border: white solid 3px;
    border-radius: 5px;
    float: right;
}

.gitHubPic {
    width: 30px;
    margin-right: -25%;
}

.gitHubLogo {
    width:70px;
    margin-left: 25%;
}