* {
  font-family: Arial;
}

.contact {
  display: inline-block;  
}

.date {
  float: right;
  text-align: right;
}

#experience {
  padding-top: 30px;
  border-top-width: 3px;
  border-style: solid;
  border-color: black;
}
